.object-cover {
  object-fit: cover;
}

.relative {
  position: relative;
}

.top-0 {
  top: 0px;
}

.right-0 {
  right: 0px;
}

.left-0 {
  left: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.absolute {
  position: absolute;
}

.h-screen {
  height: 100vh;
}

.bg-blackOverlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-mainColor {
  background-color: '#FBF8F9';
}

.cursor-pointer {
  cursor: pointer;
}

.outline-none {
  outline: none;
}

.section-about {
  min-height: 50vh;
  text-align: center;
}
